.footer {
    background-color: #ec931e;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 25% 10% 0 0;
  }
  
  .footer .social-links {
    margin-top: 1rem;
  }
  
  .footer .social-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
  }
  
  .footer .social-link:hover {
    text-decoration: underline;
  }
  
  .footer .social-links-facebook{
    width: 30px;
    height: 30px;
    background-image: url(/img/ico/facebook.ico);
    background-size: cover;
    margin: 0;
}
.footer .social-links-instagram{
  width: 30px;
  height: 30px;
  background-image: url(/img/ico/instagram.ico);
  background-size: cover;
  margin: 0;
}
.footer .social-links-whatsapp{
  width: 30px;
  height: 30px;
  background-image: url(/img/ico/whatsapp.png);
  background-size: cover;
  margin: 0;
}
.footer .social-links {
  margin-top: 1rem;
}

.footer .social-links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 1.2rem;
  text-decoration: none;
  transition: background-color 0.3s;
}