/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ec931e;
    color: white;
    padding: 10px 20px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px; /* Ajusta el tamaño del logo */
    height: auto;
    margin-right: 10px; /* Espacio entre el logo y el texto */
    border-radius: 15% 0 10% 5%;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1em;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  